<div class="container-fluid">
  <table>
    <td>
      <div class="container-fluid">
        <img
          class="img-fluid"
          src="{{ concertDetail.image }}"
          style="width: 80px"
        />
      </div>
    </td>
    <td>
      <p class="h3 p-3">{{ concertDetail.band }}</p>
      <p class="h3 p-3">{{ concertDetail.date }}</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">General</th>
            <td>{{concertDetail.general.quantity}} </td>
            <td>{{concertDetail.general.price }}</td>
          </tr>
          <tr>
            <th scope="row">Platino</th>
            <td>{{concertDetail.platino.quantity}}</td>
            <td>{{concertDetail.platino.price}}</td>
          </tr>
        </tbody>
      </table>
    </td>
  </table>
